@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-2xl: 90rem;
  /* Colors */
  --color-brand: #4b4fbe;
  --color-app-dark: #0b1020;
  --color-suface-dark: #11172a;
  --color-muted-dark: #a7b0c0;
}

@layer base {
  body {
    @apply text-slate-900 font-sans;
  }
}

@utility container {
  @apply mx-auto px-2.5;
}

/* Table Styles */
thead tr th:first-child {
  @apply rounded-tl-lg;
}

thead tr th:last-child {
  @apply rounded-tr-lg;
}

tbody tr:last-child td:last-child {
  @apply rounded-br-lg;
}

tbody tr:last-child td:first-child {
  @apply rounded-bl-lg;
}

/* Global Styles of Scrollbar ( can use tailwind scrollbar plugin instead ) */

/* لایت مود */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-400;
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100;
}

.dark ::-webkit-scrollbar-track {
  @apply bg-suface-dark;
}

.dark ::-webkit-scrollbar-thumb {
  @apply bg-muted-dark;
}
/* 

success => green-500
danger => red-500
warning => amber-500
info => sky-500

LLGHT MODE : 

bg => white
surface => slate-50
text => slate-900
muted => slate-600
border => slate-200

DARK MODE : 

bg => custom => "#0B1020"
sruface => custom => "#11172A"
text => slate-200
muted => custom => "#A7B0C0"
border => slate-800

radius => rounded-lg

*/
